.filter-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.filter-select-container {
    width: 25%;
    padding-left: 20px;

    .movie-genres-select__control {
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        background: #6c6c6c;
    }

    .movie-genres-select__indicator-separator {
        display: none;
    }

    .movie-genres-select__placeholder {
        color: #ffffff;
    }

    .movie-genres-select__menu {
        background: #6c6c6c;
    }

    .movie-genres-select__value-container {
        background: #6c6c6c;
    }

    .movie-genres-select__input {
        background-color: #6c6c6c;
    }
}
