.catalog-container {
    padding: 45px 95px 50px 95px;
}

.catalog-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: space-between;
    gap: 30px 20px;
    margin-top: 45px;
    margin-bottom: 45px;
}
