.catalog-container {
    padding: 45px 95px 50px 95px;
}

.catalog-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: space-between;
    gap: 30px 20px;
    margin-top: 45px;
    margin-bottom: 45px;
}

@media (max-width: 768px) {
    .catalog-movies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .catalog-container {
        padding: 15px 20px 40px 20px;
    }

    .catalog-movies {
        margin-top: 15px;
    }
}
